body{
    background-color: antiquewhite;
    margin: 0;
    pad: 0;
}
.headerWrapper{
    display: block;
    text-align:center;
    font-weight: bolder;
    margin-top: 10rem;
}
.navWrapper{
    background-color: rgb(22, 22, 90);
    color: white;
    height: 10rem;
    display: grid;
    grid-template-columns: 1rem 1fr 6fr 3fr 1fr 1fr 1rem;
    
    cursor: pointer;
   
    position: fixed;
    top: 0;
    
}
.logo{
    display: grid;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.navlist{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column: 3/4;

}
.navlist li{
    list-style:none;
}
.login{
    margin: 1rem;
    margin-top: 40%;
    grid-column: 5/6;
}
.join {
    margin: 1rem;
    margin-top: 40%;
    font-size: 1rem;
    font-weight: bolder;
    width: 5vw;
    height: 5vh;
    border-radius: 5%;
    grid-column: 6/7;
}

.overview{
    margin: auto;
    width:80%;
}
.cardwrapper{
    margin: auto;
    
    background-color: rgb(177, 180, 180);
    width: 80%;
    box-sizing: border-box;
    border-radius: 1px solid black;

}
.topwrapper{
    display: flex;
    flex-direction: row;
}
.product_description{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.prodimage{
    margin: 0.5rem;
    border-radius: 5px;
}
.prodinfo{
    display: flex;
    flex-direction: column;
    width:80%;

}
.prize{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width:20%;
    height: 70%;
    border-radius: 0.5rem;
}
.bottomlinks{
    text-decoration: none;
    width:100%;
    display: flex;
    justify-content:flex-start ;
}
.discussion{
    margin: auto;
    width: 80%;
}
.reference{
    margin: auto;
    width: 80%;
}
.ptable{
    width:100%;
    margin:auto;
    border: 1px solid black;
    text-align: center;
}
.ptable th{
    width: 33%;
    background-color: rgb(51, 49, 49);
    color: white;
}
.componentLinks{
    margin: 1rem;
    text-decoration: none;
    width:200px;
}
.terms{
    margin: auto;
    width: 80%;
}